<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <div class="container">
        <h1>코로나 현황판</h1>
        <div class="box-list">
            <% for(let i=0; i< data.length; i++) { %>
                <div class="box">
                    <h1 class="title"><%= data[i].name %></h1>
                    <p class="count"><%= data[i].count %></p>
                </div>
            <% } %>
        </div>
        <div class="word-box">
            <h2><%= word %></h2>
        </div>
    </div>
    <div> 
        <button><a href="/">back</a></button>
    </div>
    <script src="/CoronaApp.js"></script>
</body>
</html>