<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="/main.css">
    <script src="/main.js" type="module"></script>
</head>
<body>
    <header>
        <h1>hello??</h1>
    </header>
    <div class="content">
        <div class="todoBox">
            <button><a href="/todo">Todo</a></button>
        </div>
        <div class="gameBox">
            <button><a href="/game">Game</a></button>
        </div>
        <div class="coronaBox">
            <button><a href="/corona">Corona</a></button>
        </div>
        <div class="webToonBox">
            <button><a href="/webToon">WebToon</a></button>
        </div>
    </div>
</body>
</html>